.App {
    background-image: url('https://lh3.googleusercontent.com/proxy/fhv16mtq0VyJ8YWiVKolCOEuDsHu2y1yLr1HDfHx37xR1mKXmaMOt_xI7qTZ-ZP5N_DIb-U31OGaK_VTn5R6UzBkOeMC-w595afANYKtH-bErLX622Vh1F75N9XhdC7YiN93z3Lds01HIso1ZxiC');
    background-size: cover;
    width: 100%;
    height: 700px;
    padding-top: 50px;
}
